<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd">
	<!--配置整合mybatis过程 1.配置数据库相关参数 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!--2.数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!--配置连接池属性 -->
		<property name="driverClass" value="${jdbc.driver}" />
		<!-- 基本属性 url、user、password -->
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!--c3p0私有属性 -->
		<property name="maxPoolSize" value="5000" />
		<property name="minPoolSize" value="10" />
		<!--关闭连接后不自动commit -->
		<property name="autoCommitOnClose" value="false" />

		<!--获取连接超时时间 -->
		<property name="checkoutTimeout" value="1000" />
		<!--当获取连接失败重试次数 -->
		<property name="acquireRetryAttempts" value="2" />
	</bean>

	<!--约定大于配置 -->
	<!--3.配置SqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

		<!--往下才是mybatis和spring真正整合的配置 -->
		<!--注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.edge" />
		<property name="mapperLocations">
			<array>
				<value>classpath*:com/edge/system/role/mapper/*.xml</value>
				<value>classpath*:com/edge/system/department/mapper/*.xml</value>
				<value>classpath*:com/edge/system/user/mapper/*.xml</value>
				<value>classpath*:com/edge/login/mapper/*.xml</value>
				<value>classpath*:com/edge/index/mapper/*.xml</value>
				<value>classpath*:com/edge/procedure/ProcessDefinition/mapper/*.xml</value>
				<value>classpath*:com/edge/test/vacation/mapper/*.xml</value>
				<value>classpath*:com/edge/projman/approveproj/mapper/*.xml</value>
				<value>classpath*:com/edge/projman/xshtdj/mapper/*.xml</value>
				<value>classpath*:com/edge/yyzx/wjg/mapper/*.xml</value>
				<value>classpath*:com/edge/projman/xmcgrk/mapper/*.xml</value>
				<value>classpath*:com/edge/projman/xmssck/mapper/*.xml</value>
				<value>classpath*:com/edge/reimburse/bxtb/mapper/*.xml</value>
				<value>classpath*:com/edge/reimburse/bxff/mapper/*.xml</value>
				<value>classpath*:com/edge/reimburse/bxxq/mapper/*.xml</value>
				<value>classpath*:com/edge/cwgl/xsfpkj/mapper/*.xml</value>
			</array>
		</property>
	</bean>

	<!--4:配置扫描Dao接口包,动态实现DAO接口,注入到spring容器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 给出需要扫描的Dao接口 -->
		<property name="basePackage"
			value="com.edge.system.role.dao;com.edge.system.department.dao;
			com.edge.system.user.dao;com.edge.login.dao;com.edge.index.dao;
			com.edge.procedure.ProcessDefinition.dao;com.edge.test.vacation.dao;
			com.edge.projman.approveproj.dao;com.edge.projman.xshtdj.dao;
			com.edge.yyzx.wjg.dao;com.edge.projman.xmcgrk.dao;
			com.edge.projman.xmssck.dao;com.edge.reimburse.bxtb.dao;
			com.edge.reimburse.bxff.dao;com.edge.reimburse.bxxq.dao;
			com.edge.cwgl.xsfpkj.dao;" />
		<!--注入SqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<!-- 启用注解 -->
	<context:annotation-config />
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.edge" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置一个spring提供的对象，用于创建一个流程引擎配置对象 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="transactionManager" ref="transactionManager" />
		<property value="true" name="databaseSchemaUpdate" />
	  <!-- 	<property name="databaseSchema" value="ACT"/>  -->
		<!-- 必须注入数据源对象 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 创建流程引擎对象 -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration"></property>
	</bean>


</beans>