<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edge.projman.approveproj.dao.ApproveprojDao">
	<!-- 定义缓存 一般是一级缓存，如果用同一个sqlsession 那么相同查询直接会从缓存中查找 <cache size="1024" flushInterval="60000" 
		eviction="LRU" readOnly="false"></cache> -->
	<!--分页查询所有的项目信息 -->
	<select id="queryAllxiangMuXX" resultType="Foll_up_Proj"
		parameterType="QueryVo">
		select * from (select row_.*, rownum rownum_ from (select * from
		foll_up_proj order by proj_id desc ) row_
		<where>
			rownum &lt;=#{size}
		</where>
		)
		<where>
			rownum_ &gt;=#{page}
		</where>
	</select>

	<!--查询所有项目信息数量 -->
	<select id="queryAllxiangMuXXCount" resultType="Integer">
		select count(1)
		from foll_up_proj
	</select>

	<!--查询所有的招标方式 -->
	<select id="allZBFS" resultType="BP_DM_METHOD">
		select * from BP_DM_METHOD
	</select>
	
	<!--查询我方负责人  -->
	<select id="allUser" resultType="User" parameterType="String">
		select * from cwgl_user u
		<where>
			u.user_name &lt;&gt;#{userName} and u.user_is_delete=0
		</where>
	</select>
	
	<!--根据Id查询招标方式对象  -->
	<select id="queryZBFSById" parameterType="Integer" resultType="BP_DM_METHOD">
		select * from BP_DM_METHOD b
		<where>
			b.bp_method_id=#{bp_Method_Id}
		</where>
	</select>
	
	<!--根据Id查询我方负责人  -->
	<select id="queryUserById" parameterType="Integer" resultType="User">
		select * from cwgl_user u
		<where>
			u.user_Id=#{user_id}
		</where>
	</select>


	<!--项目立项 -->
	<insert id="saveXiangMuXX" parameterType="Foll_up_Proj">
		insert into foll_up_proj(PROJ_ID,PROJ_CODE,BUDGET_NAME,BUDGET_AMOUNT,PLAN_CONT_DATE,BP_METHOD,CUST_UNIT,CUST_CONTACT,CUST_PHONE,OFFI_TEL,PROJ_SUCC_RATE,OUR_UNIT,USER_ID,USER_NAME,MEMO_1,APPR_STATUS,SUBM_USER_ID,SUBM_NAME,DEPA_ID,DEPA,SUBM_TIME,FINISH_TIME,PROJ_STATUS,IS_TY,DB_MS,NEXTCZ)
		values(seq_proj_Id.nextval,#{proj_Code,jdbcType=VARCHAR},#{budget_Name,jdbcType=VARCHAR},#{budget_Amount,jdbcType=NUMERIC},#{plan_Cont_Date,jdbcType=DATE},#{bp_method,jdbcType=NUMERIC},#{cust_Unit,jdbcType=VARCHAR},#{cust_Contact,jdbcType=VARCHAR},#{cust_Phone,jdbcType=VARCHAR},#{offi_Tel,jdbcType=VARCHAR},#{proj_Succ_Rate,jdbcType=NUMERIC},#{our_Unit,jdbcType=VARCHAR},#{user_Id,jdbcType=NUMERIC},#{user_Name,jdbcType=VARCHAR},#{memo_1,jdbcType=VARCHAR},#{appr_Status,jdbcType=NUMERIC},#{subm_User_Id,jdbcType=NUMERIC},#{subm_Name,jdbcType=VARCHAR},#{depa_Id,jdbcType=NUMERIC},#{depa,jdbcType=VARCHAR},#{subm_Time,jdbcType=DATE},#{finish_Time,jdbcType=DATE},#{proj_Status,jdbcType=VARCHAR},#{IS_TY,jdbcType=NUMERIC},#{db_ms,jdbcType=VARCHAR},#{nextCZ,jdbcType=VARCHAR})
	</insert>
	
	<!--查询项目信息最大主键值  -->
	<select id="xiangMuXXId" resultType="Integer">
		select max(proj_Id) from foll_up_proj
	</select>
	
	<!--根据id查询项目信息对象  -->
	<select id="queryXiangMuXXById" resultType="Foll_up_Proj" parameterType="Integer">
	  select * from foll_up_proj p
		<where>p.proj_Id=#{proj_Id}</where>
	</select>
	
	<!--跟新项目信息  -->
	<update id="editXiangMuXX" parameterType="Foll_up_Proj">
		update foll_up_proj 
		<set>
			<if test="budget_Name!=null">budget_Name=#{budget_Name},</if>
			<if test="budget_Amount!=null">budget_Amount=#{budget_Amount},</if>
			<if test="plan_Cont_Date!=null">plan_Cont_Date=#{plan_Cont_Date},</if>
			<if test="bp_method!=null">bp_method=#{bp_method},</if>
			<if test="cust_Contact!=null">cust_Contact=#{cust_Contact},</if>
			<if test="cust_Unit!=null">cust_Unit=#{cust_Unit},</if>
			<if test="cust_Phone!=null">cust_Phone=#{cust_Phone},</if>
			<if test="offi_Tel!=null">offi_Tel=#{offi_Tel},</if>
			<if test="proj_Succ_Rate!=null">proj_Succ_Rate=#{proj_Succ_Rate},</if>
			<if test="user_Id!=null">user_Id=#{user_Id},</if>
			<if test="user_Name!=null">user_Name=#{user_Name},</if>
			<if test="our_Unit!=null">our_Unit=#{our_Unit},</if>
			<if test="memo_1!=null">memo_1=#{memo_1},</if>
			<if test="appr_Status!=null">appr_Status=#{appr_Status},</if>
			<if test="finish_Time!=null">finish_Time=#{finish_Time},</if>
			<if test="IS_TY!=null">IS_TY=#{IS_TY},</if>
			<if test="nextCZ!=null">nextCZ=#{nextCZ}</if>
		</set>
		<where>
			proj_Id=#{proj_Id}
		</where>
	</update>
	
	<!--根据Id查询审批状态  -->
	<select id="queryStatus" resultType="APPR_DM_STATUS" parameterType="Integer">
		select * from APPR_DM_STATUS a
		<where>
			a.appr_status_id=#{appr_Status_Id}
		</where>
	</select>
	
	<!--点击业务数据列表进入查看页显示对应的流程图返回流程部署Id  -->
	<select id="queryProcinstById" parameterType="String" resultType="String">
		select p.proc_def_id_ from act_hi_procinst p
		<where>
			p.id_=#{processInstanceId}
		</where>
	</select>
	

</mapper>