<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edge.reimburse.bxff.dao.BxffDao">
	<!-- 定义缓存 一般是一级缓存，如果用同一个sqlsession 那么相同查询直接会从缓存中查找 <cache size="1024" flushInterval="60000" 
		eviction="LRU" readOnly="false"></cache> -->

	<!--分页显示我的报销记录 (流程已启动) -->
	<select id="queryMyReimbursementLC" parameterType="Bxff_QueryVo"
		resultType="Reimbursement">
		select * from (select row_.*, rownum rownum_ from (select * from
		reimbursement order by reimbursement_dm desc ) row_
		<where>
			rownum &lt;=#{size} and reimbursement_bxr=#{userName} and appr_status is
			not null and is_ffdj=1
			<if test="reimbursement_code!=null"> and reimbursement_code like '%${reimbursement_code}%'</if>
			<if test="proj_dm!=null"> and proj_dm = #{proj_dm}</if>
			<if test="reimbursement_dm_fylx!=null"> and reimbursement_dm_fylx = #{reimbursement_dm_fylx}</if>
			<if test="reimbursement_bxje1 != null">AND
				reimbursement_bxje <![CDATA[>=]]>#{reimbursement_bxje1}
			</if>
			<if test="reimbursement_bxje2 != null">AND
				reimbursement_bxje <![CDATA[<=]]>#{reimbursement_bxje2}
			</if>
			<if test="reimbursement_user_dm!=null"> and reimbursement_user_dm = #{reimbursement_user_dm}</if>
			<if test="reimbursement_bxr!=null"> and reimbursement_bxr like '%${reimbursement_bxr}%'</if>
			<if test="appr_status!=null"> and appr_status = #{appr_status}</if>
			<if test="nextcz!=null"> and nextcz like '%${nextcz}%'</if>
			<if test="reimbursement_begintime1 != null">AND
				reimbursement_begintime <![CDATA[>=]]>#{reimbursement_begintime1}
			</if>
			<if test="reimbursement_begintime2 != null">AND
				reimbursement_begintime <![CDATA[<=]]>#{reimbursement_begintime2}
			</if>
			<if test="reimbursement_submittime1 != null">AND
				reimbursement_submittime <![CDATA[>=]]>#{reimbursement_submittime1}
			</if>
			<if test="reimbursement_submittime2 != null">AND
				reimbursement_submittime <![CDATA[<=]]>#{reimbursement_submittime2}
			</if> 
		</where>
		)
		<where>
			rownum_ &gt;=#{page}
		</where>
	</select>

	<!--分页显示我的报销记录数量 (流程已启动) -->
	<select id="queryMyReimbursementCountLC" parameterType="Bxff_QueryVo"
		resultType="Integer">
		select count(1) from reimbursement
		<where>
			reimbursement_bxr=#{userName} and appr_status is not null and is_ffdj=1
			<if test="reimbursement_code!=null"> and reimbursement_code like '%${reimbursement_code}%'</if>
			<if test="proj_dm!=null"> and proj_dm = #{proj_dm}</if>
			<if test="reimbursement_dm_fylx!=null"> and reimbursement_dm_fylx = #{reimbursement_dm_fylx}</if>
			<if test="reimbursement_bxje1 != null">AND
				reimbursement_bxje <![CDATA[>=]]>#{reimbursement_bxje1}
			</if>
			<if test="reimbursement_bxje2 != null">AND
				reimbursement_bxje <![CDATA[<=]]>#{reimbursement_bxje2}
			</if>
			<if test="reimbursement_user_dm!=null"> and reimbursement_user_dm = #{reimbursement_user_dm}</if>
			<if test="reimbursement_bxr!=null"> and reimbursement_bxr like '%${reimbursement_bxr}%'</if>
			<if test="appr_status!=null"> and appr_status = #{appr_status}</if>
			<if test="nextcz!=null"> and nextcz like '%${nextcz}%'</if>
			<if test="reimbursement_begintime1 != null">AND
				reimbursement_begintime <![CDATA[>=]]>#{reimbursement_begintime1}
			</if>
			<if test="reimbursement_begintime2 != null">AND
				reimbursement_begintime <![CDATA[<=]]>#{reimbursement_begintime2}
			</if>
			<if test="reimbursement_submittime1 != null">AND
				reimbursement_submittime <![CDATA[>=]]>#{reimbursement_submittime1}
			</if>
			<if test="reimbursement_submittime2 != null">AND
				reimbursement_submittime <![CDATA[<=]]>#{reimbursement_submittime2}
			</if> 
		</where>
	</select>

	<!--分页显示所有的报销记录 (流程已启动) -->
	<select id="queryAllReimbursementLC" parameterType="Bxff_QueryVo"
		resultType="Reimbursement">
		select * from (select row_.*, rownum rownum_ from (select * from
		reimbursement order by reimbursement_dm desc ) row_
		<where>
			rownum &lt;=#{size} and appr_status is not null and is_ffdj=1
			<if test="reimbursement_code!=null"> and reimbursement_code like '%${reimbursement_code}%'</if>
			<if test="proj_dm!=null"> and proj_dm = #{proj_dm}</if>
			<if test="reimbursement_dm_fylx!=null"> and reimbursement_dm_fylx = #{reimbursement_dm_fylx}</if>
			<if test="reimbursement_bxje1 != null">AND
				reimbursement_bxje <![CDATA[>=]]>#{reimbursement_bxje1}
			</if>
			<if test="reimbursement_bxje2 != null">AND
				reimbursement_bxje <![CDATA[<=]]>#{reimbursement_bxje2}
			</if>
			<if test="reimbursement_user_dm!=null"> and reimbursement_user_dm = #{reimbursement_user_dm}</if>
			<if test="reimbursement_bxr!=null"> and reimbursement_bxr like '%${reimbursement_bxr}%'</if>
			<if test="appr_status!=null"> and appr_status = #{appr_status}</if>
			<if test="nextcz!=null"> and nextcz like '%${nextcz}%'</if>
			<if test="reimbursement_begintime1 != null">AND
				reimbursement_begintime <![CDATA[>=]]>#{reimbursement_begintime1}
			</if>
			<if test="reimbursement_begintime2 != null">AND
				reimbursement_begintime <![CDATA[<=]]>#{reimbursement_begintime2}
			</if>
			<if test="reimbursement_submittime1 != null">AND
				reimbursement_submittime <![CDATA[>=]]>#{reimbursement_submittime1}
			</if>
			<if test="reimbursement_submittime2 != null">AND
				reimbursement_submittime <![CDATA[<=]]>#{reimbursement_submittime2}
			</if> 
		</where>
		)
		<where>
			rownum_ &gt;=#{page}
		</where>
	</select>

	<!--分页显示所有的报销记录数量 (流程已启动) -->
	<select id="queryAllReimbursementCountLC" parameterType="Bxff_QueryVo"
		resultType="Integer">
		select count(1) from reimbursement
		<where>
			appr_status is not null and is_ffdj=1
			<if test="reimbursement_code!=null"> and reimbursement_code like '%${reimbursement_code}%'</if>
			<if test="proj_dm!=null"> and proj_dm = #{proj_dm}</if>
			<if test="reimbursement_dm_fylx!=null"> and reimbursement_dm_fylx = #{reimbursement_dm_fylx}</if>
			<if test="reimbursement_bxje1 != null">AND
				reimbursement_bxje <![CDATA[>=]]>#{reimbursement_bxje1}
			</if>
			<if test="reimbursement_bxje2 != null">AND
				reimbursement_bxje <![CDATA[<=]]>#{reimbursement_bxje2}
			</if>
			<if test="reimbursement_user_dm!=null"> and reimbursement_user_dm = #{reimbursement_user_dm}</if>
			<if test="reimbursement_bxr!=null"> and reimbursement_bxr like '%${reimbursement_bxr}%'</if>
			<if test="appr_status!=null"> and appr_status = #{appr_status}</if>
			<if test="nextcz!=null"> and nextcz like '%${nextcz}%'</if>
			<if test="reimbursement_begintime1 != null">AND
				reimbursement_begintime <![CDATA[>=]]>#{reimbursement_begintime1}
			</if>
			<if test="reimbursement_begintime2 != null">AND
				reimbursement_begintime <![CDATA[<=]]>#{reimbursement_begintime2}
			</if>
			<if test="reimbursement_submittime1 != null">AND
				reimbursement_submittime <![CDATA[>=]]>#{reimbursement_submittime1}
			</if>
			<if test="reimbursement_submittime2 != null">AND
				reimbursement_submittime <![CDATA[<=]]>#{reimbursement_submittime2}
			</if> 
		</where>
	</select>
</mapper>